body {
    background-image: url("../images/background.jpg");
}

.title {
    text-align:center;
    font-weight:bold;
    border: 1px solid black;
    padding: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
}

.timer {
    text-align:center;
    font-weight: bold;
    border: 1px solid black;
    padding: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.question {
    text-align:center;
    border: 1px solid black;
    line-height: 25px;
    padding: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#a-one, #a-two, #a-three, #a-four {
    text-align: center;
    border: 1px solid black;
    font-size: 25px;
    padding: 1px;
    margin: 5px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}